.cache/
mods/.index/
.mixin.out/
backups/
.vscode/
coremods/
crash-reports/
/data/
local/
logs/
modernfix/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
resourcepacks/
/config/
/mods/
/kubejs/probe/
/defaultconfigs/
/mods/.index/
/build/
/fancymenu_data/
/.bobby/
/xaero*
/Xaero*
/node_modules/


patchouli_data.json
emi.json
knownkeys.txt
usercache.json
options.txt
usernamecache.json
rhino.local.properties
observable_announce
servers.dat
servers.dat_old
icon.png
/kubejs/config/probejs.json
/kubejs/jsconfig.json
